.container {
    height: 300px;
    width: 300px;
    position: relative;
    border: 2px solid black;
}

.static {
    position: static;
    background-color: lightblue;
}

.relative {
    position: relative;
    background-color: lightgreen;
    top: 60px;
    left: 10px;
}

.absolute {
    position: absolute;
    background-color: lightcoral;
    top: 60px;
    right: 150px;
}

.fixed {
    position: fixed;
    background-color: lightyellow;
    bottom: 20px;
    right: 20px;
}
